@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --c1: #1FD400;
    --c2: #000000;
    --c3: #008000; 

}

body {
    background-color: var(--c2); 
    text-align: center;
    color: var(--c1);
    font-family: "Courier Prime", monospace;
    margin: 0;
    padding: 0;
}

h1 {
    margin-bottom: 5px;
    text-decoration: underline;
}

h2 {
    margin-top: 0;
}

.box {
    border: 4px solid var(--c1);
    padding: 20px;
    margin: 20px auto;
    border-radius: 10px; 
}

.box:hover {
    transform: scale(1.05);
}

img {
    width: 700px;
    height: 700px;
}

.navigation_bar {
    background-color: var(--c1);
    padding: 15px;
    justify-content: space-around;
    display: flex;   
}

.navigation_bar a {
    color: var(--c2);
    font-weight: bold;
    text-decoration: none;
}

.navigation_bar a:hover {
    color: var(--c3)
}
